<a href="https://colab.research.google.com/github/GhanshyamRegar/Employee-Management-System/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)

Install NumPy

In [2]:

import numpy as np

Importing NumPy

In [3]:

array_1d = np.arange(1, 21)
print("1D Array:", array_1d)


print("Sum:", np.sum(array_1d))
print("Mean:", np.mean(array_1d))
print("Median:", np.median(array_1d))
print("Standard Deviation:", np.std(array_1d))


indices_gt_10 = np.where(array_1d > 10)
print("Indices of elements > 10:", indices_gt_10[0])

1D Array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Sum: 210
Mean: 10.5
Median: 10.5
Standard Deviation: 5.766281297335398
Indices of elements > 10: [10 11 12 13 14 15 16 17 18 19]

np.arange(1, 21) creates an array from 1 to 20 (inclusive).
np.sum, np.mean, np.median, np.std perform standard mathematical operations.
np.where(array_1d > 10) returns indices where the condition is True.

In [4]:

array_2d = np.arange(1, 17).reshape(4, 4)
print("2D Array (4x4):\n", array_2d)

transpose = array_2d.T
print("Transpose:\n", transpose)

row_sum = np.sum(array_2d, axis=1)
col_sum = np.sum(array_2d, axis=0)
print("Row-wise Sum:", row_sum)
print("Column-wise Sum:", col_sum)

2D Array (4x4):
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
Transpose:
 [[ 1  5  9 13]
 [ 2  6 10 14]
 [ 3  7 11 15]
 [ 4  8 12 16]]
Row-wise Sum: [10 26 42 58]
Column-wise Sum: [28 32 36 40]

np.arange(1, 17).reshape(4, 4) creates a 4x4 array with numbers 1â€“16.

.T is a shorthand for transpose (rows become columns).

axis=1 sums across columns (row-wise), axis=0 sums down the rows (column-wise).

In [5]:
array_A = np.random.randint(1, 21, size=(3, 3))
array_B = np.random.randint(1, 21, size=(3, 3))

print("Array A:\n", array_A)
print("Array B:\n", array_B)

print("Addition:\n", array_A + array_B)
print("Subtraction:\n", array_A - array_B)
print("Multiplication:\n", array_A * array_B)

dot_product = np.dot(array_A, array_B)
print("Dot Product:\n", dot_product)

Array A:
 [[ 3 11 13]
 [ 9  5 17]
 [ 5 18 11]]
Array B:
 [[12  8  2]
 [14 13 16]
 [18  7 15]]
Addition:
 [[15 19 15]
 [23 18 33]
 [23 25 26]]
Subtraction:
 [[ -9   3  11]
 [ -5  -8   1]
 [-13  11  -4]]
Multiplication:
 [[ 36  88  26]
 [126  65 272]
 [ 90 126 165]]
Dot Product:
 [[424 258 377]
 [484 256 353]
 [510 351 463]]

np.random.randint(1, 21, size=(3, 3)) creates random integers in a 3x3 shape.

+, -, * apply element-wise operations.

np.dot(A, B) performs matrix multiplication (dot product).

In [6]:
array_reshaped = np.arange(1, 13).reshape(3, 4)
print("Reshaped Array (3x4):\n", array_reshaped)

sliced = array_reshaped[:2, -2:]
print("Sliced [First 2 rows, Last 2 columns]:\n", sliced)

Reshaped Array (3x4):
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
Sliced [First 2 rows, Last 2 columns]:
 [[3 4]
 [7 8]]

np.arange(1, 13) creates numbers from 1 to 12.
.reshape(3, 4) converts it into 3 rows and 4 columns.
[:2, -2:] slices:
:2 selects first two rows
-2: selects the last two columns

working with pandas

In [7]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

install pandas

In [8]:
import pandas as pd

 Create Python Script and Import Pandas

In [10]:
data = {
    'Name': ['manish', 'pradeep', 'gannu', 'ravina', 'ravi'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}

df = pd.DataFrame(data)

print("First 5 rows of the DataFrame:")
print(df.head())

print("\nSummary statistics for Age and Salary:")
print(df[['Age', 'Salary']].describe())

hr_avg_salary = df[df['Department'] == 'HR']['Salary'].mean()
print("\nAverage salary in HR department:", hr_avg_salary)

First 5 rows of the DataFrame:
      Name  Age Department  Salary
0   manish   24         HR   45000
1  pradeep   27    Finance   54000
2    gannu   22         IT   50000
3   ravina   32  Marketing   62000
4     ravi   29         HR   47000

Summary statistics for Age and Salary:
             Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000

Average salary in HR department: 46000.0

pd.DataFrame(data) creates a table-like structure.

.head() shows the first 5 rows.

.describe() gives count, mean, min, max, etc., for numeric columns.

df[df['Department'] == 'HR'] filters only HR employees.

['Salary'].mean() calculates their average salary.

In [ ]:
df['Bonus'] = df['Salary'] * 0.10

print("\nDataFrame after adding Bonus column:")
print(df)

df['Bonus'] = df['Salary'] * 0.10 adds a new column by multiplying the Salary by 10%.

Now each employee has a bonus amount in the new column.

In [12]:
filtered_df = df[(df['Age'] >= 25) & (df['Age'] <= 30)]

print("\nEmployees aged between 25 and 30:")
print(filtered_df)

Employees aged between 25 and 30:
      Name  Age Department  Salary
1  pradeep   27    Finance   54000
4     ravi   29         HR   47000

(df['Age'] >= 25) & (df['Age'] <= 30) sets a condition.

The filtered result shows only those rows where age is in the given range.

In [13]:

avg_salary_by_dept = df.groupby('Department')['Salary'].mean()

print("\nAverage salary by Department:")
print(avg_salary_by_dept)

Average salary by Department:
Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

groupby('Department') groups data based on the department.

['Salary'].mean() calculates average salary for each group.

In [15]:

sorted_df = df.sort_values(by='Salary', ascending=True)

print("\nDataFrame sorted by Salary (ascending):")
print(sorted_df)

sorted_df.to_csv("sorted_employees.csv", index=False)

DataFrame sorted by Salary (ascending):
      Name  Age Department  Salary
0   manish   24         HR   45000
4     ravi   29         HR   47000
2    gannu   22         IT   50000
1  pradeep   27    Finance   54000
3   ravina   32  Marketing   62000

sort_values(by='Salary') sorts by salary.

ascending=True makes sure it's in increasing order.

.to_csv("sorted_employees.csv", index=False) saves the file without row numbers.